@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdcb6e;
  overflow: hidden;
}

nav {
  position: relative;
  border-bottom: 1px solid #0984e3;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 95%;
  margin: 0 auto;
  padding: 12px;
}

h2 {
  color: #2d3436;
  font-family: "Balsamiq Sans", cursive;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 5;
}

.burger-menu span {
  display: inline-block;
  height: 2px;
  background-color: #2d3436;
  margin: 3px 0;
  transition: all 250ms;
}

.burger-menu span:first-child {
  width: 24px;
}

.burger-menu span:nth-child(2) {
  width: 18px;
}

.burger-menu span:nth-child(3) {
  width: 24px;
}

.open-menu span:first-child {
  transform: translateY(5px) rotate(135deg);
  width: 28px;
}

.open-menu span:nth-child(2) {
  display: none;
}

.open-menu span:nth-child(3) {
  transform: translateY(-3px) rotate(-135deg);
  width: 28px;
}

.menu-body {
  background-color: #00b894;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: ease-in-out all 250ms;
  transform: translateX(500px);
}

.menu-body ul {
  list-style: none;
}

.menu-body li {
  margin: 35px 0;
}

.menu-body li a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family: "Balsamiq Sans", cursive;
  transition: color 250ms;
}

.menu-body li a:hover {
  color: #6c5ce7;
}

.menu-body.open {
  opacity: 1;
  transform: translateX(0);
}

@media (min-width: 544px) {
  .menu-body {
    width: 500px;
  }
}
